<div class="category">
  <div class="slider-header">
    <h2 class="slider-title">Books for <span><%= locals.title %></span></h2>
    <a href="/categories/<%= num %>">See All >></a>
  </div>

  <div class="swiper mySwiper <%= category %>">
    <div class="swiper-wrapper <%= category %>">
      <% if(locals.books) { %> <% books.forEach(book => { %>
      <div class="swiper-slide">
        <a href="/book/<%= book.id %>"
          ><img src="<%= book.coverImage %>" alt="book image"
        /></a>
      </div>
      <% }); %> <% } %>
    </div>
  </div>
</div>
