<section class="home" id="home">
  <div class="row">
    <div class="content">
      <h1>
        <span class="text-style">Reading gives</span><br />
        us <span class="text-style"> someplace</span> to go when <br />we have
        <span class="text-style">to stay</span> where we are
      </h1>
      <p>
        You can download over 800 pdf book for free. No annoying ads, no
        download limits, enjoy it ....
      </p>
      <button>Explore</button>
    </div>
    <div class="popularBooks">
      <div class="swiper book-slider">
        <div class="swiper-wrapper">
          <% if(homeBooks) { %> <% homeBooks.forEach(book => { %>
          <a href="#" class="swiper-slide"
            ><img src="<%= book.coverImage %>" alt="book image"
          /></a>
          <% }); %> <% } %>
        </div>
      </div>
      <img src="/images/stand.png" class="stand" alt="" />
    </div>
  </div>
</section>
<section class="book-types" id="book-types">
  <%- include('./partials/category', {title: 'Academic & Education', books:
  educationBooks, category: 'academic'}) %> <%- include('./partials/category',
  {title: 'Art', books: artBooks, category: 'art'}) %><%-
  include('./partials/category', {title: 'Biography', books: biographyBooks,
  category: 'biography'}) %> <%- include('./partials/category', {title:
  'Business & Career', books: businessBooks, category: 'business'}) %> <%-
  include('./partials/category', {title: 'Children & Youth', books:
  childrenBooks, category: 'children'}) %> <%- include('./partials/category',
  {title: 'Enviroment', books: enviromentBooks, category: 'enviroment'}) %> <%-
  include('./partials/category', {title: 'Fiction & Literature', books:
  fictionBooks, category: 'fiction'}) %> <%- include('./partials/category',
  {title: 'Health & Fitness', books: healthBooks, category: 'health'}) %> <%-
  include('./partials/category', {title: 'Lifestyle', books: lifestyleBooks,
  category: 'lifestyle'}) %> <%- include('./partials/category', {title:
  'Personal Growth', books: personalBooks, category: 'personal'}) %> <%-
  include('./partials/category', {title: 'Politics & Laws', books:
  politicsBooks, category: 'politics'}) %> <%- include('./partials/category',
  {title: 'Religion', books: religionBooks, category: 'religion'}) %> <%-
  include('./partials/category', {title: 'Science & Research', books:
  scienceBooks, category: 'science'}) %> <%- include('./partials/category',
  {title: 'Technology', books: technologyBooks, category: 'technology'}) %>
</section>
