<section class="home" id="home">
  <div class="row">
    <div class="content">
      <h1>
        <span class="text-style">Reading gives</span><br />
        us <span class="text-style"> someplace</span> to go when <br />we have
        <span class="text-style">to stay</span> where we are
      </h1>
      <p>
        You can download over 800 pdf book for free. No annoying ads, no
        download limits, enjoy it ....
      </p>
      <button>Explore</button>
    </div>
    <div class="popularBooks">
      <div class="swiper book-slider">
        <div class="swiper-wrapper">
          <% if(homeBooks) { %> <% homeBooks.forEach(book => { %>
          <a href="#" class="swiper-slide"
            ><img src="<%= book.coverImage %>" alt="book image"
          /></a>
          <% }); %> <% } %>
        </div>
      </div>
      <img src="/images/stand.png" class="stand" alt="" />
    </div>
  </div>
</section>
<section class="book-types" id="book-types">
  <%- include('./partials/category', {title: 'Academic & Education', books:
  educationBooks, category: 'academic', num: '23'}) %> <%-
  include('./partials/category', {title: 'Art', books: artBooks, category:
  'art', num: '15'}) %> <%- include('./partials/category', {title: 'Psychology',
  books: psychologyBooks, category: 'psychology', num: '73'}) %> <%-
  include('./partials/category', {title: 'Enviroment', books: enviromentBooks,
  category: 'enviroment', num: '77'}) %> <%- include('./partials/category',
  {title: 'Fiction & Literature', books: fictionBooks, category: 'fiction' ,
  num: '11'}) %> <%- include('./partials/category', {title: 'Health & Fitness',
  books: healthBooks, category: 'health', num: '13'}) %> <%-
  include('./partials/category', {title: 'Lifestyle', books: lifestyleBooks,
  category: 'lifestyle' , num: '100'}) %> <%- include('./partials/category',
  {title: 'Personal Growth', books: personalBooks, category: 'personal' , num:
  '78'}) %> <%- include('./partials/category', {title: 'Politics & Laws', books:
  politicsBooks, category: 'politics', num: '99'}) %> <%-
  include('./partials/category', {title: 'Religion', books: religionBooks,
  category: 'religion', num: '22'}) %> <%- include('./partials/category', {
  title: 'Science & Research', books: scienceBooks, category: 'science', num:
  '40' }) %> <%- include('./partials/category', {title: 'Technology', books:
  technologyBooks, category: 'technology', num: '41'}) %>
</section>
